<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="p-4">
		<div class="card">
			<img
				th:if="${product.photo != null && #strings.length(product.photo) > 0}"
				class="card-img-top"
				th:src="@{/product/uploads/img/} + ${product.photo}"
				th:alt="${product.name}">
			<div class="card-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" th:text="${product.id}"></li>
					<li class="list-group-item" th:text="${product.name}"></li>
					<li class="list-group-item"
						th:text="${#numbers.formatCurrency(product.price)}"></li>
					<li class="list-group-item"
						th:text="${#calendars.format(product.createAt, 'dd/MM/yyyy')}"></li>
				</ul>
			</div>
		</div>
	</div>
	<div th:replace="layout/layout :: scripts"></div>
</body>
</html>