<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="p-4">
		<h1 th:text="${title}" class="title">Listado</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Fecha</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.createAt}"></td>
					<td> <a th:href="@{/form/} + ${product.id}">Editar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="layout/layout :: scripts"></div>
</body>
</html>